@import "tailwindcss";

/* Global smooth scrolling for a more premium feel */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 88px;
  /* account for fixed navbar */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}